<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<mapping resource="com/ywg/model/TDepartment.hbm.xml" />
		<mapping resource="com/ywg/model/TUser.hbm.xml" />
		<mapping resource="com/ywg/model/TRole.hbm.xml" />
		<mapping resource="com/ywg/model/TFun.hbm.xml" />
		<mapping resource="com/ywg/model/TFaunit.hbm.xml" />
		<mapping resource="com/ywg/model/TFaclass.hbm.xml" />
		<mapping resource="com/ywg/model/TDepot.hbm.xml" />
		<mapping resource="com/ywg/model/TFa.hbm.xml" />
		

	</session-factory>

</hibernate-configuration>

